<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/cloudsun.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/app.js"></script>
  </head>

  <body>
    <div class="main-content">
    {{>headers}}
    <img class="portrait" src="/img/robotpic.jpg" />
    </div>
    {{>footer}}
  </body>
</html>